PORT=3000
MONGO_URI=mongodb_url

DB_USERS=lumiviz_users_db_example
DB_ADMIN=lumiviz_admin_db_example
DB_VIZ_CONTEXT=lumiviz_viz_public_db_example
DB_VIZ_HISTORY=lumiviz_viz_history_db_example

JWT_SECRET=krupals_jwt_token
NODE_ENV=development